---
const { features = [] } = Astro.props;
const list = features.length ? features : [
  "Generate mosaic-style artwork from your images.",
  "Final feature copy coming later.",
];
---

<ul class="feature-list">
  {list.map((f) => <li>{f}</li>)}
</ul>
